h1{
  font-size: 90px;
  line-height: 130%;
  font-weight: 400;
}

p{
  font-size: 24px;
  line-height: 130%;
  font-weight: 300;
}

.contact-descr{
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.contact-info a{
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

.contact-info img{
  width: 1000px;
  height: 550px;
}

.colortext{
  color: #21468D;
}

.btn{
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  padding: 23px 118px;
  border-radius: 50px;
}

form{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.form-control{
  width: 900px;
  height: 60px;
  background-color: #F5FAFE;
  border: none;
}
