h1{
  font-size: 90px;
  line-height: 130%;
  margin-bottom: 40px;
}

a{
  color: #21468D;;
}

img{
  margin-bottom: 20px;
}

.portfolio{
  padding-top: 80px;
}

.portfolio-content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.portfolio-content{
  margin-bottom: 80px;
}

.portfolio-content p{
  font-size: 20px;
  line-height: 130%;
}

.portfolio-content-two{
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.portfolio-content-two div:first-child{
  margin-right: 300px;
}

.portfolio-liberty{
  padding-bottom: 150px;
}

.btn{
  width: 187px;
  height: 187px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #21468D;
  border: 1.5px solid #21468D;
  border-radius: 50%;
  padding: 80px 20px;
}
