<div class="container-fluid">
  <section class="portfolio">
    <h1>Портфолио</h1>
    <div class="portfolio-content">
      <div>
        <img src="assets/img/portfolio_x5.jpg" alt="">
        <p>X5 RETAIL GROUP</p>
      </div>
      <div>
        <img src="assets/img/portfolio_artw.jpg" alt="">
        <p>ARTW</p>
      </div>
      <div>
        <p>В нашем портфолио вы найдете много примеров наших работ, которые демонстрируют наши способности  в области веб-разработки. Мы работаем в тесном сотрудничестве с нашими клиентами, чтобы создать  веб-сайты, которые соответствуют их бизнес-потребностям и целям.</p>
      </div>
      <div>
        <img src="assets/img/porftolio_consultation.jpg">
        <p>Консультант сервис</p>
      </div>
    </div>
    <div class="portfolio-content-two">
      <div>
        <img src="assets/img/portfolio-eye.jpg" alt="">
        <p>EYETRONIC</p>
      </div>
      <div>
        <img src="assets/img/portfolio-liberty.jpg" alt="">
        <p>ЛИБЕРТИ</p>
      </div>
      <div>
        <img src="assets/img/portfolio-liberty-2.jpg">
        <p class="portfolio-liberty">ЛИБЕРТИ</p>
        <button class="btn"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Смотреть больше</a></button>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
