<div class="container-fluid">
  <section class="our-mission">
    <div class="our-mission-descr">
      <h2 class="title">Наша миссия</h2>
      <p>Наша миссия - помочь нашим клиентам достичь своих целей, используя передовые технологии и решения. Мы гордимся нашей командой, которая состоит из опытных и квалифицированных профессионалов в области программирования, дизайна, тестирования и управления проектами.</p>
    </div>
    <img src="assets/img/our-mission.jpg" alt="">
    <div class="our-mission-descr__block">
      <div>
        <h2>Цель</h2>
        <p class="text">Стать ведущими разработчиками технологических решений для бизнеса и частных клиентов. Мы стремимся предоставлять нашим клиентам продукты и услуги наивысшего качества, которые удовлетворят их потребности и превзойдут их ожидания.</p>
      </div>
      <div>
        <h2>Задача</h2>
        <p class="text">Создавать превосходные продукты, которые помогают нашим клиентам быть лидерами в своей отрасли. Мы применяем передовые технологии и методы разработки для достижения наших целей и гарантируем, что каждый продукт, который мы создаем, будет дополнен всеми необходимыми функциями и качественным дизайном.</p>
      </div>
    </div>
    <hr>
  </section>

  <section class="our-team">
    <div class="our-team-descr">
      <h2 class="title">О команде</h2>
      <p class="text">Мы гордимся нашей командой и ее способностью создавать уникальные продукты, которые делают жизнь легче и более эффективной для наших клиентов. Мы постоянно стремимся улучшить свои навыки и методы, чтобы оставаться на переднем крае технологического прогресса и обеспечивать нашим клиентам лучший сервис.</p>
    </div>
    <p class="img"><img src="assets/img/our-team-bg.jpg" alt=""></p>
    <hr>
  </section>

  <div class="vacancies">
    <div class="">
      <p class="vacancies-team-text">Вы хотите <span class="colortext">присоединиться</span> к нашей команде?</p>
      <p class="text">Наша команда состоит из опытных и талантливых профессионалов,<br> которые являются экспертами в своей области. </p>
    </div>
    <button class="btn"><a [routerLink]="['/career']">Смотреть вакансии</a></button>
  </div>
</div>
<app-footer></app-footer>
