<div class="container-fluid">
  <section class="section-top__home">
        <p><img src="assets/img/logo-big.svg" alt=""></p>
  </section>

  <section class="about">
      <h2 class="title">О нас</h2>
    <div class="about-decr">
      <p class="about-decr-one">Мы оказываем широкий спектр услуг, помогая компаниям <span class="colortext">выводить бизнес на новый уровень</span> с помощью ИТ.</p>
      <p class="about-decr-two">Мы ускоряем развитие бизнеса наших клиентов  и выводим его на новый уровень с помощью информационных технологий. Исходя из целей  и проблем бизнеса, погружаемся в детали и помогаем найти решения, дающие быстрые и максимально эффективные результаты.</p>
      <p class="about-decr-three">Cоздаем качественные продукты, которые соответствуют вашим потребностям и ожиданиям.
        Мы готовы взять на себя проекты любой сложности и масштаба, чтобы помочь вашему бизнесу достичь новых высот в мире технологий.</p>
    </div>
  </section>

    <section class="number">
      <img src="assets/img/top-second-bg.png" alt="">
      <div class="number-projects">
        <p><span class="boldtext">250+</span><br> Проектов</p>
        <p><span class="boldtext">200+</span><br> Довольных клиентов</p>
        <p><span class="boldtext">12</span><br> Лет опыта</p>
      </div>
    </section>
    <hr>

    <section class="services">
      <div class="services-descr">
        <h2 class="title">Услуги</h2>
        <p>Мы используем последние технологии и методы, чтобы обеспечить нашим клиентам максимальное качество и результативность.</p>
      </div>
      <div class="services-card">
        <div class="card-one card">
          <h3 class="card-title">Разработка мобильных приложений</h3>
          <p>на IOS и Android</p>
        </div>
        <div class="card-two card">
          <h3 class="card-title">Web разработка</h3>
          <p>сайты любой сложности, под ваши цели и задачи</p>
        </div>
        <div class="card-three card">
          <h3 class="card-title">Техническая поддержка</h3>
          <p>быстрое решение проблем и устранение сбоев web ресурсе</p>
        </div>
        <div class="card-four card">
          <h3 class="card-title">Разработка телеграмм ботов</h3>
        </div>
      </div>
    </section>

    <section class="portfolio">
      <img src="assets/img/pt-bg-1.jpg" alt="">
      <img src="assets/img/pt-bg-2.jpg" alt="">
      <div class="portfolio-descr">
        <h2 class="title portfolio-title">Проекты</h2>
        <p>Раздел проекты представляет собой богатый и разнообразный ассортимент примеров наших успешных проектов, от веб-разработки и приложений для мобильных устройств до разработки программного обеспечения и решений для бизнеса.</p>
        <p>Здесь вы найдете многочисленные примеры нашей экспертизы, инноваций и лучших практик, которые мы используем для создания продуктов, удовлетворяющих потребности наших клиентов</p>
        <button class="btn portfolio-btn"><a [routerLink]="['/portfolio']">Смотреть больше</a></button>
      </div>
      <img src="assets/img/pt-bg-3.jpg" alt="">
    </section>

    <div class="get-project">
      <p class="text-uppercase get-project-text">МЫ ВСЕГДА СМОТРИМ НА ИТ - ЗАДАЧИ <span class="colortext">ЧЕРЕЗ ПРИЗМУ БИЗНЕСА</span> И СТРЕМИМСЯ НАЛАДИТЬ ВЗАИМОПОНИМАНИЕ МЕЖДУ РАЗРАБОТКОЙ И ЗАКАЗЧИКОМ, СОЕДИНЯЯ DIGITAL И СТРАТЕГИЮ КОМПАНИИ, АУДИТ И ДАЛЬНЕЙШИЙ ПЕРЕХОД К ЗАДУМАННОМУ.</p>
      <button class="btn portfolio-btn"><a [routerLink]="['/portfolio']">Смотреть больше</a></button>
    </div>
    <hr>

    <section class="new-project">
      <h1 class="title text-uppercase text-center new-project-title">ГОТОВЫ СДЕЛАТЬ НОВЫЙ<br> ПРОЕКТ ВМЕСТЕ?</h1>
      <a [routerLink]="['/contact']" class="btn new-project-btn">Начните свой проект</a>
    </section>
  </div>

<app-footer></app-footer>
