<div class="footer">
  <div class="container-fluid">
    <div class="footer-content">
      <div class="footer-links">
        <h3>Ссылки</h3>
        <ul>
          <li><a [routerLink]="['/about']">О нас</a></li>
          <li><a [routerLink]="['/services']">Услуги</a></li>
          <li><a [routerLink]="['/portfolio']">Проекты</a></li>
          <li><a [routerLink]="['/blog']">Блог</a></li>
          <li><a [routerLink]="['/career']">Карьера</a></li>
          <li><a [routerLink]="['/contact']">Контакты</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <h3>Соц сети</h3>
        <ul>
          <li><a href="">Instagram</a></li>
          <li><a href="">Linkedin</a></li>
          <li><a href="">Telegram</a></li>
          <li><a href="">WhatsApp</a></li>
        </ul>
      </div>
      <div>
        <a class="info" href="tel:79307556969">+7 930 755 69 69</a>
        <a class="info" href="mailto:penkov.dma@gmail.com">penkov.dma@gmail.com</a>
      </div>
    </div>
  </div>
</div>
