<div class="container-fluid">
  <div class="our-services-catalog">
    <div class="catalog-block">
      <h1>Наши услуги</h1>
      <div class="block-one">
        <img class="first-img" src="/assets/img/serv-bg-1.jpg" alt="">
        <p>Мы стремимся предоставить нашим клиентам всестороннюю поддержку в их бизнесе.  Готовы предложить широкий спектр услуг,
          которые помогут вашей компании добиться новых успехов и укрепить свое положение на рынке. </p>
      </div>
    </div>
    <hr>
    <div class="catalog-block">
      <h2>Web разработка</h2>
      <div class="block">
        <img src="/assets/img/serv-bg-2.jpg" alt="">
        <p>Разрабатываем сайты любой сложности, под ваши цели и задачи. Стоимость разработки зависит от проекта и требования заказчика. Каждый сайт по умолчанию адаптируется для ПК, планшетов и смартфонов.</p>
      </div>
    </div>
    <div class="catalog-block">
      <h2>Разработка мобильных приложений</h2>
      <div class="block">
        <img src="/assets/img/serv-bg-3.jpg" alt="">
        <p>В PENKOV IT - разрабатывает мобильные приложения на IOS и Android. Средний стаж сотрудника нашей компании по разработке составляет 8 лет.</p>
      </div>
    </div>
    <div class="catalog-block">
      <h2>Техническая поддержка</h2>
      <div class="block">
        <img src="/assets/img/serv-bg-4.jpg" alt="">
        <p>Мы предлагаем профессиональное сопровождение любых видов сайтов. Техническая поддержка от нашей команды - это комплекс работ, обеспечивающий быстрое решение проблем и устранение сбоев web ресурсе.</p>
      </div>
    </div>
    <div class="catalog-block">
      <h2>Разработка телеграм<br> ботов</h2>
      <div class="block-last">
        <img src="/assets/img/serv-bg-5.jpg" alt="">
        <p>Пишем бота для телеграм - продвинутого и защищенного мессенджера.</p>
      </div>
    </div>

    <section class="portfolio">
      <img src="assets/img/pt-bg-1.jpg" alt="">
      <img src="assets/img/pt-bg-2.jpg" alt="">
      <div class="portfolio-descr">
        <h2 class="title portfolio-title">Проекты</h2>
        <p>Раздел проекты представляет собой богатый и разнообразный ассортимент примеров наших успешных проектов, от веб-разработки и приложений для мобильных устройств до разработки программного обеспечения и решений для бизнеса.</p>
        <p>Здесь вы найдете многочисленные примеры нашей экспертизы, инноваций и лучших практик, которые мы используем для создания продуктов, удовлетворяющих потребности наших клиентов</p>
        <button class="btn portfolio-btn"><a [routerLink]="['/portfolio']">Смотреть больше</a></button>
      </div>
      <img src="assets/img/pt-bg-3.jpg" alt="">
    </section>

    <section class="new-project">
      <h1 class="title text-uppercase text-center new-project-title">ГОТОВЫ СДЕЛАТЬ НОВЫЙ<br> ПРОЕКТ ВМЕСТЕ?</h1>
      <button class="btn new-project-btn"><a class="btn-a" [routerLink]="['/contact']">Начните свой проект</a></button>
    </section>
  </div>
</div>
<app-footer></app-footer>
